

<html>
    <head>
        <link rel="stylesheet" type = "text/css" href="../static/styles.css">
        <script src = "../static/code.js"></script>
    </head>
<body>
    <header>
        <h1>Experience</h1>
    </header>

    <nav>
        <ul>
            <a href="/">Home</a>
            <a href="/about">About</a>
            <a href="/experience">Experience</a>
            <a href="/projects">Projects</a>
        </ul>
    </nav>

    <main>
        <span>
            <li>Madam Co-president of the terran alliance</li> 
            <li>Commassar of the Imperial Guard</li> 
            <li>Grand Admiral of the fleet</li> 
        </span>
        <span>
            <li>June 2020-April 2024</li>
            <li>August 2012-June 2020</li>
            <li>October 2010-July 2012</li>
        </span>
    </main>

</body>
</html>