

<html>
    <head>
        <link rel="stylesheet" type = "text/css" href="../static/styles.css">
        <script src = "../static/code.js"></script>
    </head>
<body>
    
    <header>
        <h1>Welcome to the life of Esperanza</h1>
    </header>

    <nav>
        <ul>
            <a href="/" onclick="test()">Home</a>
            <a href="/about">About</a>
            <a href="/experience">Experience</a>
            <a href="/projects">Projects</a>
        </ul>
    </nav>

    <main>
        <p>Welcome to my website. This is for my first assignment for CS 2610</p>
    </main>
    <button onclick="test()">Click Me!</button>
</body>
</html>
