

<html>
    <head>
        <link rel="stylesheet" type = "text/css" href="../static/styles.css">
        <script src = "../static/code.js"></script>
    </head>
<body>
    
    <header>
        <h1>About</h1>
    </header>

    <nav>
        <ul>
            <a href="/" onclick="test()">Home</a>
            <a href="/about">About</a>
            <a href="/experience">Experience</a>
            <a href="/projects">Projects</a>
        </ul>
    </nav>

    <main>
        <span>
            <li>I created a Tap It color game. The user has to tap the color displayed on the top 
                of the screen. If done correctly the user will move on to the next level. However on the next level,
                the user must remember the previous color and put it before the new color.
            </li> 
            <li>I created a simple script that runs when someone logs on to my computer. Once it is activated,
                it creates a file that saves everything that was done since the previous save.
            </li> 
            <li>I createdd a simple scrabble game that generates randoms letters and outputs the max amount of points you
                can get with those letters.
            </li>
        </span>
    </main>
</body>
</html>